:root {
    --button-height: 30px;
    --circle-height: 65px;
}
.App {
    text-align: center;
    font-family: Calibri;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stage {
    border: 3px dotted white;
    width: 100%;
    height: 100%;
}


.flex-stage {
    display: flex;
}

.btn-split, .btn-merge {
    height: var(--button-height);
    border: 1px solid black;
}

.size-of-button {
    height: var(--button-height);
    border: 1px solid white;
}

.ar-el {
    font-size: 2em;
    color: black;
    border: 3px solid black;
    width: 50px;
}

.ar-el-grey {
    font-size: 2em;
    color: grey;
    border: 3px solid grey;
    width: 50px;
}

.array, .array-split {
    border: 3px solid white;
    width: 99%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.array-heap {
    border: 3px solid white;
    width: 99%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.under-ar {
    border: 3px solid white;
    display: flex;
    height:100%;
}

.heap-container {
    border: 3px solid orange;
    width: 70%;
    height: 100%;
}

.heap-div {
    border: 0px solid orange;
    width: 100%;
    height: var(--circle-height);
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
}


.flex-container {
    border: 0px solid orange;
    width: 100%;
    height: var(--circle-height);
    justify-content: center;
    align-items: center;
    display: flex;
}

.heap-text-container {
    border: 3px solid orange;
    width: 30%;
    height: 100%;
    white-space: pre-wrap;
    text-align: left;
}

.merge-container {
    border: 3px solid blue;
    width: 70%;
    height: 100%;
}

.merge-text-container {
    border: 3px solid blue;
    width: 30%;
    height: 100%;
    white-space: pre-wrap;
    text-align:left;
}

.ar-el-bare {
    font-size: 35px;
    width: 50px;
    background: transparent;
}
.ar-el-container {
    color: black;
    border: 3px solid black;
    width: 50px;
    height: 45px;
}

.circle {
    display: flex;
    width: var(--circle-height);
    height: var(--circle-height);
    border-radius: 50%;
    border: 3px solid black;
    justify-content: center;
    vertical-align: middle;
    font-size: 35px;
    z-index: 2;
}

.line-left {
    background: linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 1.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 1.8px), rgba(0,0,0,0) 100%);
    z-index: 1;
    width:100%;
    height:100%;
}

.line-right {
    background: linear-gradient(to top right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 1.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 1.8px), rgba(0,0,0,0) 100%);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.circle-grey {
    display: flex;
    width: var(--circle-height);
    height: var(--circle-height);
    border-radius: 50%;
    border: 3px solid grey;
    justify-content: center;
    vertical-align: middle;
    font-size: 2em;
}

.array-and-div {
    border: 3px solid white;
    width: 100%;
}

.element-target {
    border: 3px solid red;
    width: 99%;
    height: 47px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButton{
    color: black;
    text-decoration:none;
}

.header {
    width: 70%;
    height: auto;
    background-color: #00502F;
    padding: 2px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.title-ppt-style {
    color: white;
    font-weight: normal;
    font-size:40px;
}

.btn-navy {
    width: 10%;
    background-color: #000099;
    color: white;
    font-size: 25px;
    font-weight: 100;
    border-radius: 12px;
    border:2px solid white;
    padding: 10px;
}

    .btn-navy:hover,
    .btn-navy:focus {
        background-color: #00004A;
    }
